---
export interface Props {
  titulo: string;
  imagen: string;
  tecnologias: string[];
  url: string;
}

const { titulo, imagen, tecnologias, url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="group flex w-full max-w-md mx-auto flex-col overflow-hidden rounded-xl bg-[#1e293b] border border-[#38bdf8]/10 transition-all duration-300 hover:scale-[1.02] hover:border-[#38bdf8]/30 block"
>
  <img
    src={imagen}
    alt={`Project: ${titulo}`}
    class="w-full h-auto max-h-72 object-contain rounded-t-xl"
    loading="lazy"
  />

  <div class="flex flex-col grow p-4">
    <h3 class="text-lg font-semibold mb-2 text-white">{titulo}</h3>

    <div class="flex flex-wrap gap-2">
      {
        tecnologias.map((tech) => (
          <span class="rounded-md bg-[#1e293b]/20 text-[#38bdf8] px-2 py-0.5 text-xs font-semibold">
            {tech}
          </span>
        ))
      }
    </div>
  </div>
</a>
