<section class="site-container mt-14 mx-auto max-w-6xl px-4">
  <div class="site-container mt-14">
    <h2
      class="text-4xl font-bold flex flex-col items-center gap-6 text-center whitespace-nowrap text-white md:flex-row md:items-center md:text-start"
    >
      <span class="text-[#998542]">Technologies</span>
      <span
        class="hidden h-1 grow rounded-lg bg-gradient-to-r from-[#500000] to-[#998542]/30 md:block"
      ></span>
    </h2>
  </div>
  <div class="mt-10 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
    {
      [
        { name: "Python", icon: "python" },
        { name: "JavaScript", icon: "javascript" },
        { name: "TypeScript", icon: "typescript" },
        { name: "C++", icon: "cplusplus" },
        { name: "Java", icon: "java" },
        { name: "SQL", icon: "mysql" },
        { name: "React", icon: "react" },
        { name: "Next.js", icon: "nextjs" },
        { name: "React Native", icon: "react" },
        { name: "HTML5", icon: "html5" },
        { name: "CSS3", icon: "css3" },
        { name: "Tailwind", icon: "tailwindcss" },
        { name: "Node.js", icon: "nodejs" },
        { name: "PyTorch", icon: "pytorch" },
        { name: "TensorFlow", icon: "tensorflow" },
        { name: "Git", icon: "git" },
        { name: "Linux", icon: "linux" },
        { name: "Azure", icon: "azure" },
        { name: "MongoDB", icon: "mongodb" },
        { name: "PostgreSQL", icon: "postgresql" },
      ].map((skill) => (
        <div class="relative group">
          <div class="absolute inset-0 -z-10 rounded-lg blur-3xl opacity-0 transition-opacity group-hover:opacity-100" />

          <div class="flex flex-col items-center bg-[#12121a] border border-[#998542]/10 p-4 rounded-lg shadow-md transition-all duration-300 hover:scale-105 hover:border-[#998542]/30">
            <img
              src={`https://cdn.jsdelivr.net/gh/devicons/devicon/icons/${skill.icon}/${skill.icon}-original.svg`}
              alt={skill.name}
              class="w-12 h-12"
              onerror={`this.onerror=null; this.src='https://cdn.jsdelivr.net/gh/devicons/devicon/icons/${skill.icon}/${skill.icon}-plain.svg'`}
            />
            <p class="mt-2 text-white text-lg font-semibold">{skill.name}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
